#container{
	text-align: center;
    /*background: url(/assets/treetants2.jpg) no-repeat center center fixed ; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: helvetica;
    text-align: center;
    margin: auto;



}

.large12{
background-image: image-url('treetants2.jpg');
background-position: middle;
-webkit-background-size: contain;
-moz-background-size: cover;
-o-background-size: cover;
background-size: contain;
position: fixed;
width: 100%;
height: 500px;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -6;
}

.user{
	padding-top: 300px;

}

.menu a{
	position: fixed;
	float: left;
	margin-left:-700px;
	text-decoration: none;
	color: white;
	text-align: left;
	
}

li{
    list-style-type: none;
    padding: 10px;
}

ul{
	background-color: white;
	max-width: 100%;
	margin: -10px;
	
}

.user li{
	color:black;
}

hr{
 width :500px;
}

.thumb{
	width: 100px;
	height: 100px;
	border-radius: 10px;

}

#post{
	background-color: white;
	margin-top: 500px;
}

.post{
	margin-top: 00px;
}

.userfont{
	padding-top: 30px;
}

.userfont a{
	text-decoration: none;
	color:black;
	font:bold;

}

h1{
	text-align: center;
	margin-left:50px;
	margin-bottom: 30px;
}

.delete{
	margin-left: 450px;
}

.tumblr{
	display: none
}

.background{
	margin-top: 40px;
	color:black;
}

.create{
	margin-top:350px;
	margin-left: 40px;
}

.avatar{
	margin-left: 110px;
}
